body{
    background: url("/static/img/question_guy.png") 50% 0 no-repeat fixed;
    color: white;
    height: 650px;
    padding: 10px;   
    margin: 0px;
    box-sizing: border-box;
    width: 100vw;
    font-family: serif;
    margin-bottom: 10px;
    margin-top 0px;
 }        
   
header {
    background-color: #cc0000;
    color: white;
    width: 100%;
    padding: 20px;
}

a {
    color: black;
    font-size: 25px;
}

h1, h2 {
    color: black;
    font-size: 25px;
}
.content {
    color: black;
    font-size: 15px;
}
